<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
 
    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;
      color:white;
  
    }

 


    p {
      text-align: center;

    }
  </style>
</head>

<footer>



  <br>
  <div class="container">
    <div class="row">
      
           <p>HeroVired Assignment<br>
            <p>Group 7: Shashank Kumar, Harshit Singh, Yogendra Singh, Venkata Reddy</p>
           </p>
        </div>
      </div>
    </div>
  </div>
</footer>


</html>
